spring:
  jpa:
    hibernate.ddl-auto: create
    properties:
      hibernate:
#        show_sql: true
        format_sql: true
        default_batch_fetch_size: 10
    open-in-view: false

logging:
  level:
    org:
      hibernate:
        SQL: debug
        type: info

jwt:
  access-token:
    key: PQ8nDTkS2Rp17clN87/L02OgVe77EOwMnDY0Irq7w04=
    expiration-time: 10
  refresh-token:
    key: crCWzavmz2D382GG68dymsghw+UnWo3MnmWkPzc6Gik=
    expiration-time: 60

management:
  endpoints:
    web:
      exposure:
        include: "*"